<div class="users-container">
  <h2 class="caviar-bold">Gestión de usuarios</h2>
  <button mat-raised-button color="primary" routerLink="add">
    <mat-icon>person_add</mat-icon>
    <p class="caviar-bold">Nuevo usuario</p>
  </button>

  <table mat-table [dataSource]="users()" class="mat-elevation-z2">
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef class="caviar-bold">Estado</th>
      <td mat-cell *matCellDef="let user">
        <span
          class="status-indicator"
          [class.active]="user.isActive"
          [class.inactive]="!user.isActive"

        ></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef class="caviar-bold">Nombre</th>
      <td mat-cell *matCellDef="let user" class="caviar-normal">{{ user.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="caviar-bold">Email</th>
      <td mat-cell *matCellDef="let user" class="caviar-normal">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="caviar-bold">Acciones</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button [routerLink]="['edit', user.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
