<mat-sidenav-container class="sidenav-container">
  <!-- Menú lateral para móvil o versión colapsada -->
  <mat-sidenav #sidenav mode="over" class="mobile-sidenav">
    <mat-nav-list>
      <mat-accordion class="nav-accordion" multi="false">
        @for(item of menuItems; track $index) {
        <ng-container>
          @if(!item.children){
          <a mat-list-item [routerLink]="item.route" (click)="closeSidenav()">
            <div class="nav-item-content">
              <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
              <span class="nav-label caviar-bold">{{ item.label }}</span>
            </div>
          </a>
          } @else {
          <mat-expansion-panel class="nav-dropdown" hideToggle>
            <mat-expansion-panel-header>
              <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
              <span class="nav-label">{{ item.label }}</span>
            </mat-expansion-panel-header>

            <mat-nav-list>
              @for(child of item.children; track $index) {
              <a
                mat-list-item
                [routerLink]="child.route"
                (click)="closeSidenav()"
              >
                <div class="nav-item-content">
                  <mat-icon class="nav-icon">{{ child.icon }}</mat-icon>
                  <span class="nav-label caviar-bold">{{ child.label }}</span>
                </div>
              </a>
              }
            </mat-nav-list>
          </mat-expansion-panel>
          }
        </ng-container>
        }
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Toolbar superior -->
    <mat-toolbar color="primary" class="public-toolbar">
      <!-- Logo -->
      <div class="logo-container">
        <img src="images/logo-normal-transparente.png" alt="Logo" />
        <span class="logo-text caviar-bold">Diócesis de Ciudad Obregón</span>
      </div>

      <span class="spacer"></span>

      <!-- Navegación en escritorio -->
      @if (!isMobile() && !collapsed()) {
      <nav class="menu" #menuContainer>
        @for(item of menuItems; track $index){ @if (!item.children) {
        <a mat-button [routerLink]="item.route">
          <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
          <span class="nav-label caviar-bold">{{ item.label }}</span>
        </a>
        } @else {
        <div class="menu-dropdown" [matMenuTriggerFor]="menuRefs">
          <button mat-button>
            <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
            <span class="nav-label caviar-bold">{{ item.label }}</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>

        <mat-menu #menuRefs="matMenu">
          @for(child of item.children; track $index) {
          <button mat-menu-item [routerLink]="child.route">
            <mat-icon class="nav-icon">{{ child.icon }}</mat-icon>
            <span class="nav-label caviar-bold">{{ child.label }}</span>
          </button>
          }
        </mat-menu>
        } }
      </nav>
      }

      <!-- Botón hamburguesa (móvil o colapsado) -->
      @if (isMobile() || collapsed()) {
      <button
        mat-icon-button
        class="mobile-menu-btn"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      }
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
