<div class="colonia-container">
  <h2 class="caviar-bold">Gestión de colonias</h2>

  <app-filter-bar
    [filters]="filters"
    (search)="onSearch($event)"
    (clear)="onSearch({})"
  />

  <div class="actions">
    <button mat-raised-button routerLink="add">
      <mat-icon>add</mat-icon>
      <p class="caviar-bold">Crear colonia</p>
    </button>
  </div>

  <div class="table-container">
    <table
      mat-table
      [dataSource]="colonias()"
      class="mat-elevation-z2"
      multiTemplateDataRows
    >
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef class="caviar-bold">Estado</th>
        <td mat-cell *matCellDef="let colonia">
          <span
            class="status-indicator"
            [class.active]="colonia.isActive"
            [class.inactive]="!colonia.isActive"
          ></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="caviar-bold">Nombre</th>
        <td mat-cell *matCellDef="let colonia">
          {{ colonia.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="caviar-bold">Acciones</th>
        <td mat-cell *matCellDef="let colonia">
          <button mat-icon-button [routerLink]="['edit', colonia.id]">
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            (click)="deleteColonia(colonia)"
            *ngIf="colonia.isActive"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteColonia(colonia)"
            *ngIf="!colonia.isActive"
          >
            <mat-icon>check</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="total()"
    [pageSize]="limit()"
    [pageIndex]="page()"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="onPageChange($event)"
    showFirstLastButtons
  />
</div>
