<div class="grid min-h-svh md:grid-cols-2">
  <aside class="bg-custom-brown hidden text-center text-white md:block">
    <div class="animate-zoom-in flex h-full items-center justify-center p-12">
      <div class="max-w-md">
        <img src="/images/logo-normal-transparente.png" alt="Diócesis de Ciudad Obregón" />

        <h3 class="mt-4 text-4xl font-semibold tracking-tight">Diócesis de Ciudad Obregón</h3>

        <p class="mt-6 text-xl font-semibold tracking-tight text-white/70">
          Bienvenido al sistema de administración parroquial.
        </p>
      </div>
    </div>
  </aside>

  <main class="flex items-center justify-center p-6">
    <div class="animate-fade-in animate-duration-500 w-full max-w-sm">
      <h1 class="mb-6 text-2xl font-semibold">Iniciar Sesión</h1>

      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
        <div>
          <label for="user" class="mb-1 block text-sm font-bold">Usuario</label>
          <input
            id="user"
            formControlName="user"
            type="text"
            class="input"
            aria-required="true"
            aria-describedby="user-error"
          />
          @if (form.controls.user.invalid && form.controls.user.touched) {
            <p id="user-error" class="mt-2 text-sm font-bold text-red-500" role="alert">
              El usuario es obligatorio.
            </p>
          }
        </div>

        <div>
          <label for="password" class="mb-1 block text-sm font-bold">Contraseña</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            class="input"
            placeholder="••••••••"
            aria-required="true"
            aria-describedby="password-error"
          />
          @if (form.controls.password.invalid && form.controls.password.touched) {
            <p id="password-error" class="mt-2 text-sm font-bold text-red-500" role="alert">
              Mínimo 6 caracteres
            </p>
          }
        </div>

        <button type="submit" class="btn-primary w-full" [disabled]="form.invalid || loading()">
          <span>{{ !loading() ? 'Entrar' : 'Cargando...' }}</span>
        </button>
      </form>

      <footer class="mt-6 text-xs text-neutral-500">
        <p>&copy; {{ date.getFullYear() }} DevCrafters. Todos los derechos reservados.</p>
      </footer>
    </div>
  </main>
</div>
