.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  padding: 24px;
}
