<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/admin">Dashboard</a>
      <a mat-list-item routerLink="/admin">Dashboard</a>
      <a mat-list-item routerLink="/admin">Dashboard</a>
      <a mat-list-item routerLink="/admin">Dashboard</a>
      <a mat-list-item routerLink="/admin">Dashboard</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <span class="logo">Admin Panel</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" matTooltip="Cerrar sesión">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
