.sidenav-container {
  height: 100vh;
  background-color: #434343;
}

.sidenav {
  width: 240px;
  background: #f7c873;
}

.toolbar {
  display: flex;
  justify-content: center;
  background: #434343;
  color: #f8f8f8;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  padding: 24px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  height: 32px;
  width: auto;
}

.logo-text {
  font-weight: 600;
  font-size: 1.2rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  font-size: 1rem;
  color: #333;
  border-bottom: 1px solid #333;
}

.username {
  font-weight: bold;
}

.user-icon {
  color: #333;
}

mat-nav-list a.mat-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
}

mat-icon[matListIcon] {
  font-size: 24px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #333;
}

.nav-item-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

mat-icon {
  color: #f8f8f8;
}

mat-sidenav-content {
  background: #f8f8f8;
}

.active-link {
  background: #FAEBCD; // gris claro o tu color secundario
  border-left: 4px solid #f7c873; // color del sidenav si quieres
  padding-left: 12px;
}
