<div class="padre-search-container">
  <h2 class="section-title caviar-bold">Buscador de padres</h2>

  <app-filter-bar
    [filters]="filters"
    (search)="onSearch($event)"
    (clear)="onClear()"
  />

  <p *ngIf="padres().length === 0" class="caviar-bold">
    No se encontraron resultados
  </p>

  @if(padres().length > 0) {

  <div class="results">
    <a
      class="padre-card"
      *ngFor="let padre of padres()"
      [routerLink]="['/padres', padre.id]"
    >
      <app-padre-card [padre]="padre" />
    </a>
  </div>

  <mat-paginator
    [length]="total()"
    [pageSize]="limit()"
    [pageIndex]="page()"
    (page)="onPageChange($event)"
    showFirstLastButtons
  />
  }
</div>
