<splide
  #splideRef
  class="custom-carrusel"
  [options]="{
    type: 'loop',
    autoplay: true,
    interval: 5000,
    pauseOnHover: true,
    speed: 1000,
    arrows: true,
    pagination: true,
  }"
>
  <splide-slide *ngFor="let item of banners()">
    <ng-container *ngIf="item.isImage; else videoTpl">
      <img [src]="item.url" alt="img carrusel" />
    </ng-container>

    <ng-template #videoTpl>
      <div
        class="video-wrapper"
        (mousemove)="onUserInteracts()"
        (touchstart)="onUserInteracts()"
      >
        <video
          #videoRef
          [src]="item.url"
          (play)="handleVideoPlay()"
          (pause)="handleVideoPause()"
        ></video>

        <button
          class="play-btn"
          type="button"
          (click)="toggleVideo(videoRef)"
          [class.show]="showPlayButton()"
        >
          <mat-icon>{{ videoRef.paused ? "play_arrow" : "pause" }}</mat-icon>
        </button>
      </div>
    </ng-template>
  </splide-slide>
</splide>
