.home-section {
  padding: 24px;
  margin: 0 auto;
}

.noticias-section {
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

.buscadores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem 1rem;

  @media(min-width: 768px) {
    padding: 3rem 2rem;
  }
}
