/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "CaviarDreamsNormal";
  src: url("assets/fonts/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreamsBold";
  src: url("assets/fonts/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreamsBoldItalic";
  src: url("assets/fonts/CaviarDreams_BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "CaviarDreamsItalic";
  src: url("assets/fonts/CaviarDreams_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.caviar-normal {
  font-family: "CaviarDreamsNormal";
}

.caviar-bold {
  font-family: "CaviarDreamsBold";
}

.caviar-bold-italic {
  font-family: "CaviarDreamsBoldItalic";
}

.caviar-italic {
  font-family: "CaviarDreamsItalic";
}

h2[mat-dialog-title].caviar-bold {
  font-family: "CaviarDreamsBold";
}

#toast-container > div {
  font-family: "CaviarDreamsBold", sans-serif;
}

#toast-container.toast-top-right {
  margin-top: 60px;
}

// HOVER EN MENÚ SUPERIOR (mat-menu-item)
::ng-deep .mat-menu-panel .mat-menu-item:hover,
::ng-deep .mat-menu-panel .mat-menu-item.cdk-focused {
  background-color: rgba(247, 200, 115, 0.2) !important; // hover amarillo
  color: #434343 !important; // texto negro
}

::ng-deep .mat-menu-panel .mat-menu-item:hover mat-icon {
  color: #434343 !important;
}
