<div class="form-container">
  <h2 class="caviar-bold">
    {{ editing ? "Editar usuario" : "Nuevo usuario" }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user-form">
    <mat-form-field appearance="fill">
      <mat-label class="caviar-bold">Nombre</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="caviar-bold">Correo</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    @if(!editing) {
    <mat-form-field appearance="fill">
      <mat-label class="caviar-bold">Contraseña</mat-label>
      <input matInput formControlName="password" type="password" required/>
    </mat-form-field>
    }

    <mat-form-field appearance="fill">
      <mat-label class="caviar-bold">Rol</mat-label>
      <mat-select matInput formControlName="role">
        @for(rol of roles; track $index) {
        <mat-option [value]="rol">
          <p class="caviar-bold">{{ rol | titlecase }}</p>
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">
        <p class="caviar-bold">
          {{ editing ? "Actualizar" : "Crear" }}
        </p>
      </button>

      <button mat-button routerLink="/admin/users">
        <p class="caviar-bold">Cancelar</p>
      </button>
    </div>
  </form>
</div>
