<div class="form-container">
  <h2 class="caviar-bold">
    {{ editing ? "Editar usuario" : "Nuevo usuario" }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user-form">
    <mat-form-field appearance="fill">
      <mat-label class="caviar-bold">Nombre</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="caviar-bold">Correo</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="caviar-bold">Rol</mat-label>
      <mat-select matInput formControlName="role">
        @for(rol of roles; track $index) {
        <mat-option [value]="rol">{{ rol | titlecase }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="form-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="caviar-bold"
      >
        {{ editing ? "Actualizar" : "Crear" }}
      </button>

      <button mat-button routerLink="/admin/users">Cancelar</button>
    </div>
  </form>
</div>
